@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@font-face {
    font-family: "Monument";
    src: url("../font/MonumentExtended-Regular.otf");
};

@layer components{
    .accordion-header{
        @apply py-1 cursor-pointer
    }
    .accordion-body{
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-out
    }
}